.mana {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    vertical-align: middle;
    font-size: 90%;
    width: 15px;
    height: 15px;

    &.generic {
        background-color: #CCCCCC;
        border-width: none;
        border-radius: 50%;
        text-align: center;
        padding: 1px 2px 3px;
        width: 11px;
        height: 11px;
    }
    &.white {
        background-image: url('/static/img/White_mana.png');
    }
    &.blue {
        background-image: url('/static/img/Blue_mana.png');
    }
    &.black {
        background-image: url('/static/img/Black_mana.png');
    }
    &.red {
        background-image: url('/static/img/Red_mana.png');
    }
    &.green {
        background-image: url('/static/img/Green_mana.png');
    }
}

table.card-list {
    width: 100%;

    td {
        border: 1px solid #EEEEEE;
        &.mana-cost {
            text-align: center;
        }
        &.type {
            text-transform: capitalize;
        }
        &.power-toughness {
            text-align: right;
        }
    }
}

form.card-form {

    border: 5px solid black;
    border-radius: 5px;
    width: 650px;
    background-color: #A4A4A4;

    label {
        display: block;
        font-family: sans-serif;
        font-size: 75%;
        font-weight: bold;
    }

    fieldset {
        border: none;
        &.name-line,
        &.type-line {
            border: 1px solid #CCC;
            border-radius: 15px;
            margin: 5px;
            background-color: #F2F2F2;
        }
        &.text-box {
            border: 1px solid #CCC;
            margin: 5px;
            background-color: #FAFAFA;
        }
        &.collection-info,
        &.control {
            background-color: black;
            color: white;
            margin: 0;
        }
    }

    input,
    textarea {
        border: 1px solid #CCC;
        border-radius: 3px;
    }

    textarea {
        display: block;
        width: 100%;
    }

    .cost {
        input[type="number"] {
            width: 30px;
        }
    }

    .keywords {
        margin: 5px;
        label {
            display: inline;
        }
    }

    .stats {
        padding: 10px;
        margin-top: -35px;
        border: 1px solid #CCC;
        border-radius: 15px;
        background-color: #F2F2F2;

        input[type="number"] {
            width: 30px;
            border: none;
            text-align: right;
        }
    }

    .collector-number {
        input[type="number"] {
            width: 30px;
            border: none;
            text-align: right;
        }
    }

    .add-to-collection {
        label {
            display: inline-block;
        }
    }

    .part {
        display: inline-block;
        &.cost {
            float: right;
            label {
                text-align: right;
            }
        }
        &.expansion {
            float: right;
            label {
                text-align: right;
            }
        }
        &.stats {
            float: right;
        }
        &.rarity {
            float: right;
        }
        &.submit {
            float: right;
        }
    }

    &.ng-submitted.ng-invalid {
        input.ng-invalid {
            border: 1px solid red;
        }
    }
}

