.sans-serif-font {
    font-family: Tahoma, Geneva, sans-serif;
}

.serif-font {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

body {
    .sans-serif-font();
}

.clearfix {
    &:before,
    &:after {
        content: ' ';
        display: block;
    }
    &:after {
        clear: both;
    }
}

header {
    position: relative;
    border-bottom: 3px solid black;
    margin: 0px 0px 15px;
    .clearfix();

    h1 {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    nav {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
            }
        }
    }

    .login {
        display: inline-block;
        float: right;

        .register-link {
            float: right;
            font-size: 80%;
        }
    }
}

a {
    color: #666666;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.symbol {
    color: transparent;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    vertical-align: middle;
    font-size: 90%;
    width: 15px;
    height: 15px;
}

.tapped {
    .symbol();

    background-image: url('/static/img/To_Tap.png');
}

.mana {
    .serif-font();
    .symbol();

    &.generic {
        color: inherit;
        background-color: #CCCCCC;
        border-width: none;
        border-radius: 50%;
        text-align: center;
        padding: 1px 2px 3px;
        width: 11px;
        height: 11px;
        &.white {
            color: transparent;
            background-image: url('/static/img/Generic_White_mana.png');
        }
        &.blue {
            color: transparent;
            background-image: url('/static/img/Generic_Blue_mana.png');
        }
        &.black {
            color: transparent;
            background-image: url('/static/img/Generic_Black_mana.png');
        }
        &.red {
            color: transparent;
            background-image: url('/static/img/Generic_Red_mana.png');
        }
        &.green {
            color: transparent;
            background-image: url('/static/img/Generic_Green_mana.png');
        }
    }
    &.white {
        background-image: url('/static/img/White_mana.png');
        &.phyrexian {
            background-image: url('/static/img/Phyrexian_White.png');
        }
        &.black {
            background-image: url('/static/img/White_Black_mana.png');
        }
        &.blue {
            background-image: url('/static/img/White_Blue_mana.png');
        }
    }
    &.blue {
        background-image: url('/static/img/Blue_mana.png');
        &.phyrexian {
            background-image: url('/static/img/Phyrexian_Blue.png');
        }
        &.black {
            background-image: url('/static/img/Blue_Black_mana.png');
        }
        &.green {
            background-image: url('/static/img/Blue_Green_mana.png');
        }
        &.red {
            background-image: url('/static/img/Blue_Red_mana.png');
        }
    }
    &.black {
        background-image: url('/static/img/Black_mana.png');
        &.phyrexian {
            background-image: url('/static/img/Phyrexian_Black.png');
        }
        &.red {
            background-image: url('/static/img/Black_Red_mana.png');
        }
        &.green {
            background-image: url('/static/img/Black_Green_mana.png');
        }
    }
    &.red {
        background-image: url('/static/img/Red_mana.png');
        &.phyrexian {
            background-image: url('/static/img/Phyrexian_Red.png');
        }
        &.green {
            background-image: url('/static/img/Red_Green_mana.png');
        }
        &.white {
            background-image: url('/static/img/Red_White_mana.png');
        }
    }
    &.green {
        background-image: url('/static/img/Green_mana.png');
        &.phyrexian {
            background-image: url('/static/img/Phyrexian_Green.png');
        }
        &.white {
            background-image: url('/static/img/Green_White_mana.png');
        }
    }
    &.colorless {
        background-image: url('/static/img/Colorless-symbol.png');
    }
}

.type-ahead-results {
    position: absolute;
    ul {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 250px;
        border: 1px solid #CCC;

        li {
            background-color: #FFF;
            &.hilite {
                background-color: #DDD;
            }
        }
    }
}

.attribution {
    font-size: 75%;
    color: #A4A4A4;
    font-style: italic;
    padding: 3px;
}

.pick-list {
    display: inline-block;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 3px;
    font-size: 80%;

    .item {
        display: inline-block;
        padding: 0px 2px;
        margin: 0 2px;
        background-color: #A4A4A4;
        color: #FFF;
        border-radius: 3px;

        a {
            color: #EEE;
            text-decoration: none;

            &.close::after {
                cursor: pointer;
                content: '\2716';
            }
        }
    }
}

table.card-list {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        vertical-align: bottom;
        &.mana-cost {
            text-align: center;
        }
    }

    td {
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 0px;

        &.mana-cost {
            text-align: center;
        }
        &.type {
            text-transform: capitalize;
        }
        &.power-toughness {
            text-align: right;
        }
        &.actions {
            color: #CCCCCC;
            .add {
                &.owned {
                    color: #FFD700;
                }
            }
            .trash {
            }
        }
    }
}

.card-form,
.card-view {
    border: 5px solid black;
    border-radius: 5px;
    width: 650px;
    background-color: #A4A4A4;

    .part {
        display: inline-block;
        &.cost,
        &.expansion,
        &.stats,
        &.rarity {
            float: right;
        }
    }

    .name-line,
    .type-line,
    .text-box {
        border: 1px solid #CCC;
        border-radius: 15px;
        margin: 5px;
        background-color: #F2F2F2;
    }

    .text-box {
        background-color: #FAFAFA;
    }

    .subtext {
        font-size: 65%;
        font-style: italic;
        color: #AAA;
        margin: 0 0 7px;
        .mana {
            &.generic {
                font-size: 12px;
                font-style: normal;
                color: black;
            }
        }
    }

    .collection-info {
        background-color: black;
        color: white;
        margin: 0;
        padding: 7px 0;
    }
}

.card-list-filter {
    margin: 5px 0 8px;
    .mana {
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
    }
}

.pagination {
    margin: 10px 0;
    float: right;
}

.card-view {
    width: 350px;
    .name-line,
    .type-line,
    .text-box {
        border-radius: 5px;
    }
    .name-line {
        padding: 10px;
    }
    .type-line {
        padding: 10px;
        .type {
            text-transform: capitalize;
        }
    }
    .text-box {
        .description,
        .flavor-text {
            margin: 10px;
        }

        .flavor-text {
            font-style: italic;
        }
        .planeswalker-ability {
            position: relative;
            min-height: 30px;
            padding: 10px;

            &:nth-child(even) {
                background-color: #AAAAAA;
            }

            .cost {
                position: absolute;
                top: 25%;
                left: -9px;
                border: 3px solid white;
                background-color: black;
                width: 20px;
                text-align: center;
                color: white;
                box-shadow: 2px 2px rgba(204, 204, 204, 0.5);
            }
            .rules {
                padding: 3px 0 0 22px;
                font-size: 85%;
            }
        }
    }
    .stats-line {
        .clearfix();
        margin-bottom: 5px;

        .stats {
            padding: 5px 8px;
            margin-top: -15px;
            margin-right: 3px;
            border: 1px solid #CCC;
            border-radius: 10px;
            background-color: #F2F2F2;
        }
    }
}

form {

    fieldset {
        border: none;
    }

    label {
        display: block;
        font-size: 75%;
        font-weight: bold;

        .sans-serif-font();
    }

    input,
    textarea {
        border: 1px solid #CCC;
        border-radius: 3px;
    }

    &.card-form {

        fieldset {
            &.text-box {
                border: 1px solid #CCC;
                margin: 5px;
                background-color: #FAFAFA;
            }
            &.collection-info,
            &.control {
                background-color: black;
                color: white;
                margin: 0;
            }
        }


        textarea {
            display: block;
            width: 100%;
        }

        .cost {
            input[type="number"] {
                width: 30px;
            }
            input.with-x {
                width: 30px;
            }
        }

        .planeswalker-ability {
            position: relative;
            border: 1px solid #CCC;
            border-radius: 3px;
            padding: 5px 3px 0px 30px;
            margin: 0 0 3px;
            background-color: white;

            input[type="number"] {
                width: 30px;
                position: absolute;
                top: 30%;
                left: -10px;
                border: 2px solid black;
            }

            textarea {
                border: none;
                background-color: transparent;
            }
        }

        .keywords {
            margin: 5px;
            label {
                display: inline;
            }
        }

        .stats {
            padding: 10px;
            margin-top: -35px;
            border: 1px solid #CCC;
            border-radius: 15px;
            background-color: #F2F2F2;

            input[type="number"] {
                width: 30px;
                border: none;
                text-align: right;
            }
        }

        .collector-number {
            input[type="number"] {
                width: 30px;
                border: none;
                text-align: right;
            }
        }

        .add-to-collection {
            label {
                display: inline-block;
            }
        }

        .part {
            &.cost {
                label {
                    text-align: right;
                }
            }
            &.expansion {
                label {
                    text-align: right;
                }
            }
            &.submit {
                float: right;
            }
        }

        &.ng-submitted.ng-invalid {
            input.ng-invalid {
                border: 1px solid red;
            }
        }
    }
}

.deck-form {
    position: relative;

    .card-token {
        cursor: pointer;
        border: 2px solid #CCCCCC;
        padding: 5px;
        background-color: white;

        .card-cost {
            float: right;
        }
    }

    fieldset {
        &.card-list {
            width: 60%;
        }
        &.deck-list {
            border: 1px solid #CCC;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 25%;
        }
    }
}

.card-token {
    .serif-font();

    position: relative;
    margin: 0 0 5px;
    border-radius: 5px;

    .card-name {
        font-size: 125%;
        font-weight: bold;
    }

    .card-type {
        text-transform: capitalize;
        display: block;
    }

    .card-cost {
        position: absolute;
        top: 7px;
        right: 5px;
    }
}

.card-list {
    .card-token {
        width: 500px;
    }
}

.deck-list {
    padding: 5px;

    .deck-info {
        .clearfix();
        margin-bottom: 10px;
    }

    .color-identity {
        float: right;
    }

    .deck-count {
        float: left;
    }

    .card-token {
        max-width: 100%;

        .quantity {
            position: absolute;
            bottom: 11px;
            left: -22px;
            background-color: white;
            border: 2px solid #CCC;
            border-radius: 3px;
            padding: 2px;
        }
    }
}
