.hidden {
    display: none;
}

.mana-selector {
    cursor: pointer;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .select {
        .value {
            display: inline-block;
            width: 100%;
            padding: 3px;

            .mana {
                float: right;
            }
        }
    }
}
