{% extends "../base.html" %}

{% block content %}
<a href="/cards">Back to list</a>
<form name="cardForm" class="card-form" card-form="{{ card }}"
    ng-submit="addCard()" novalidate>
    <fieldset class="name-line">
        <div class="part name">
            <!-- Put type-ahead on name field to prevent duplicate entry. -->
            <label>Name</label>
            <type-ahead ng-model="card.name" required></type-ahead>
            <!--input type="text" ng-model="card.name" required type-ahead/-->
        </div>
        <div class="part cost" ng-if="card.type != 'land'">
            <label>Cost</label>
            <div mana-selector ng-model="card.manaCost"></div>
        </div>
    </fieldset>
    <fieldset class="type-line">
        <div class="part supertype">
            <label>Super-Type</label>
            <select ng-model="card.supertype"
                ng-options="supertype for supertype in supertypes"></select>
        </div>
        <div class="part type">
            <label>Type</label>
            <div ng-model="card.types" pick-list="cardTypes"></div>
            <!--select name="type" ng-model="card.type">
                <option ng-repeat="(type, subtype) in cardTypes">{{! type }}</option>
            </select-->
        </div>
        <div class="part subtype">
            <label>Sub-Type</label>
            <input ng-if="!cardTypes[card.type]" type="text" ng-model="card.subtype"/>
            <select ng-if="cardTypes[card.type]" ng-model="card.subtype"
                ng-options="subtype for subtype in cardTypes[card.type]"></select>
        </div>
        <div class="part expansion">
            <label>Expansion</label>
            <select name="expansion" required
                ng-model="card.expansion"
                ng-change="selectExpansion(card.expansion)"
                ng-options="exp.code as exp.name for exp in expansions track by exp.code">
            </select>
        </div>
    </fieldset>
    <fieldset ng-if="card.type == 'planeswalker'" class="text-box">
        <div class="planeswalker-ability" ng-repeat="ability in card.abilities">
            <input type="number" min="-20" max="20" ng-model="ability.cost"/>
            <textarea rows="4" ng-model="ability.rules"></textarea>
        </div>
    </fieldset>
    <fieldset ng-if="card.type != 'planeswalker'" class="text-box">

        <textarea name="description" ng-model="card.description"
            rows="4" placeholder="Description..."></textarea>
        <p class="subtext">
            {T} = <span class="tapped"></span>
            {W} = <span class="mana white"></span>
            {U} = <span class="mana blue"></span>
            {R} = <span class="mana red"></span>
            {G} = <span class="mana green"></span>
            {B} = <span class="mana black"></span>
            {C} = <span class="mana colorless"></span>
            {X} = <span class="mana generic">X</span>
        </p>
        <textarea name="flavorText" ng-model="card.flavorText"
            rows="4" placeholder="Flavor text..."></textarea>

        <div class="part keywords">
            <label>Keywords</label>
            <div ng-model="card.keywords" pick-list="evergreen"></div>
        </div>

    </fieldset>
    <fieldset ng-if="card.types.includes('creature')">
        <div class="part stats">
            <label>Power &amp; Toughness</label>
            <input type="number" min="0" ng-model="card.power"/>
            /
            <input type="number" max="20" ng-model="card.toughness"/>
        </div>
    </fieldset>
    <fieldset ng-if="card.type == 'planeswalker'">
        <div class="part stats">
            <label>Loyalty</label>
            <input type="number" max="20" ng-model="card.loyalty"/>
        </div>
    </fieldset>
    <fieldset class="collection-info">
        <div class="part collector-number">
            <label>Collector #</label>
            <input type="number" ng-model="card.collectorNumber" min="0" max="{{! cardsInSet }}"/>
            /
            {{! cardsInSet }}
        </div>
        <div class="part rarity">
            <label>Rarity</label>
            <select ng-model="card.rarity">
                <option ng-repeat="rarity in ['common', 'uncommon', 'rare', 'mythicRare']">{{! rarity }}</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="control">
        <div class="part add-to-collection">
            <input type="checkbox" ng-model="card.inMyCollection"/>
            <label>Add to my collection</label>
        </div>
        <div class="part submit">
            <input type="submit" ng-if="!card.sanitized_name" value="Add Card"/>
            <input type="submit" ng-if="card.sanitized_name" value="Update Card"/>
        </div>
    </fieldset>
</form>
<div class="attribution" ng-if="card.lastModified">Last modified by {{! card.lastModifiedBy }} on {{! modifiedDate() }}</div>
{% end %}

{% block scripts %}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/card-form/card-form.js"></script>
<script src="/static/js/mana-selector/mana-selector.js"></script>
<script src="/static/js/type-ahead/type-ahead.js"></script>
<script src="/static/js/pick-list/pick-list.js"></script>
<script src="/static/js/services/collection-service.js"></script>
<script src="/static/js/services/card-service.js"></script>
<script src="/static/js/services/collection-service.js"></script>
{% end %}
