{% extends "../base.html" %}

{% block content %}
<section ng-controller="CardList">
    <a href="/cards/new">Create Card</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Mana Cost</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr id="{{ card.get('sanitized_name') }}">
                <td>{{ card.get('name') }}</td>
                <td>{{ card.get('type') }}</td>
                <td>{{ card.get('rarity') }}</td>
                <td>
                    {% for item in card.get('manaCost', []) %}
                        {% if item['color'] == 'generic' %}
                        <span class="mana {{ item['color'] }}">{{ item['value'] }}</span>
                        {% else %}
                            {% for i in range(0, item['value']) %}
                            <span class="mana {{ item['color'] }}"></span>
                            {% end %}
                        {% end %}
                    {% end %}
                </td>
                <td>
                    <a href="/cards/edit/{{ card.get('sanitized_name') }}">Edit</a>
                </td>
                <td>
                    <a href="javascript:void(0);"
                        ng-click="deleteCard('{{ card.get('sanitized_name') }}')">Delete</a>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
</section>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/manadex.js"></script>
<script src="/static/js/mana-selector/mana-selector.js"></script>
{% end %}
