<div class="nested-select">
    <a class="value" >Value</a>
    <div class="select-item top-level">
        <ul>
            <li ng-repeat="primary in colors">
                <div class="select-item">
                    <a class="select-value">{{ primary }}</a>
                    <ul>
                        <li ng-repeat="secondary in colors">
                            <div class="select-item">
                                <a class="select-value">{{ primary }}/{{ secondary }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </li>
    </div>
</div>
