<div class="nested-select" ng-class="{ open: open }">
    <div class="value">
        <a class="mana" ng-class="color.color" ng-click="toggle()">
            {{ color.value }}
        </a>
    </div>
    <div class="select-item top-level">
        <ul>
            <li ng-repeat="primary in colors">
                <div class="select-item">
                    <a class="select-value" ng-click="select(primary.label)">
                        {{ primary.label}}
                        <span class="mana {{ primary.value | manaClasses }}">X</span>
                    </a>
                    <ul ng-if="primary.subtypes">
                        <li ng-repeat="secondary in primary.subtypes">
                            <div class="select-item">
                                <a class="select-value" ng-click="select(secondary.label)">
                                    {{ secondary.label }}
                                    <span class="mana {{ secondary.value | manaClasses }}">X</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </li>
    </div>
</div>
