<form class="card-list-filter">
    <label class="mana" ng-class="color"
        ng-repeat-start="color in ['white', 'blue', 'red', 'green', 'black', 'colorless']">
        &nbsp;
    </label>
    <input type="checkbox" value="{{! color }}" ng-checked="true" ng-repeat-end/>
</form>
<table class="card-list">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Rarity</th>
        <th class="mana-cost">Mana Cost</th>
    </thead>
    <tbody>
    {% for card in cards %}
    {% module CardListItem(card) %}
    {% end %}
    </tbody>
</table>
<div class="pagination">
    {% if start > 0 %}
    <a href="?start={{ start - limit }}&limit={{ limit }}">&lt;prev</a>
    {% end %}
    {% if len(cards) >= limit %}
    <a href="?start={{ start + limit }}&limit={{ limit }}">next&gt;</a>
    {% end %}
</div>
