{% extends "base.html" %}

{% block content %}
<section class="decks">
    <h2>My Decks</h2>
    <p>You don't seem to have any decks in your collection.  Perhaps you'd like
        to <a href="/decks/new">create one now.</a>
    </p>
</section>
<section>
    <h2>My Collection</h2>
    <p>You don't seem to have any cards in your collection.  Perhaps you'd like
        to <a href="/collection/new">add some now.</a>
    </p>
</section>
{% end %}

{% block scripts %}
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/services/card-service.js"></script>
<script src="/static/js/card-list/card-list.js"></script>
{% end %}
